<div class="col-md-8">
  <h1>New Recipe</h1>
  <%= form_for @recipe do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Recipe title" %>

    <%= render @recipe.ingredients %>
    <%= render 'ingredients/form', ingredient: Ingredient.new, recipe: @recipe %>

    <%= f.label :body %>
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Recipe body" %>

    <%= f.submit "Save" %>
  <% end %>
</div>
